.movie_details_container {
  display: grid;
  grid-template-rows: 100px auto;
  grid-row-gap: 10px;

  .movie_details_header {
    display: grid;
    align-self: center;
    background: #327ab7;

    .movie_name {


      .title {
        font-size: 18px;
        font-weight: bold;
        color: white;
      }

      .movie_year {
        font-size: 14px;
        color: gray
      }
    }

    .overview {

    }
  }

  .movie_details_body {

  }
}
