<div class="movie_db_container">
  <div class="movie_items_container">
    <div class="search_box_container">
      <app-search-bar [searchQuery]="searchQuery" (searchQueryChange)="searchMovie($event)"></app-search-bar>
    </div>
    <div class="movies_list_container">
      <p-progressSpinner *ngIf="isLoadingList"></p-progressSpinner>
      <ul *ngIf="!isLoadingList">
        <li *ngFor="let movie of moviesList">
          <app-movie-thumbnail [movie]="movie" (selectMovie)="onMovieSelect($event)"></app-movie-thumbnail>
        </li>
      </ul>
    </div>
  </div>
  <div class="movie_details_container">
    <p-progressSpinner *ngIf="isLoadingMovie"></p-progressSpinner>
    <div class="movie_details" *ngIf="!isLoadingMovie">
      <app-movie-details [currentMovie]="selectedMovie"></app-movie-details>
    </div>
  </div>
</div>
